<div class="card">
  <div class="left">
    <div class="title">NOTICIAS Y TENDENCIAS</div>
    <hr />
    <ul class="list">
      <li>Noticias</li>
      <li>Economía</li>
      <li>Decoración</li>
      <li>Arquitectura</li>
      <li>Entrentenimiento</li>
      <li>Actualidad</li>
    </ul>
    <button class="btn btn-sm btn-default">SOBRE NOTICIAS Y TENDENCIAS</button>
  </div>
  <div class="right">
    <div class="title">LO ÚLTIMO EN METRO CUADRADO</div>
    <hr />
    <ul class="list2">
      <li>
        <img
          src="../../../assets/recursos/alejandria_mediterraneo.jpg"
          alt=""
          class="image"
        />
        <div class="text">
          Compra vivienda en la feria virtual de Constructora Bolívar
        </div>
      </li>
      <li>
        <img
          src="../../../assets/recursos/minvivienda_salas_de_venta1-2.jpg"
          alt=""
          class="image"
        />
        <div class="text">
          Medidas para la reapertura de las salas de ventas
        </div>
      </li>
      <li>
        <img
          src="../../../assets/recursos/istock-1172740046.jpg"
          class="image"
          alt=""
        />
        <div class="text">
          Ejercicios para hacer en casa durante la cuarentena
        </div>
      </li>
    </ul>
  </div>
</div>
